<div class="card card2 container Inicio">
  {{#if objetivo}}
    <div class="objetivo disponible ">
      <p><span class="p-2 span">Disponible para gastar por mes:$ <span class="mensual">{{objetivo.objetivoMensual}}</span></span> </p>
      <p><span class="p-2 span">Disponible para gastar por día: $ <span class="diario">{{objetivo.objetivoDiario}}</span></span></p>
      <p><span class="p-2 span">Tiempo para cumplir hasta cumplir objetivo: {{objetivo.tiempo}}</span></p>
    </div>
  {{/if}}
  <div class="progress">
    <div class="progress-bar" role="progressbar" style="width: {{objetivo.progreso}}%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
  </div>
  <div class='objetivo agregar d-flex justify-content-around'>
    <div>
      <button  class=" bubbly-button"  ><span onclick="options(nuevoingreso, btnIngreso)" id="btnIngreso">NUEVO INGRESO</span> 
        <div   id="nuevoingreso" style="display: none;">
          <p>Nuevo Ingreso: <input type="number" class="input nuevoIngreso"></p><label><input type="checkbox" id="checkbox" class="roundedTwo" onclick="mostrarOpciones()"> Plazo Fijo </label>
          <div id="opciones" style="display: none;">
              <input type="radio" id="MercadoPago" name="MercadoPago" onclick="check(MercadoPago)" value="1">
              <label for="MercadoPago">Me transfirieron en MercadoPago</label><br>
              <input type="radio" id="MercadoPagoIngreso" name="MercadoPagoIngreso" onclick="check(MercadoPagoIngreso)" value="3">
              <label for="MercadoPagoIngreso">Yo me transferí a MercadoPago</label><br>
              <input type="radio" id="Banco" name="Banco" onclick="check(Banco)" value="2" >
              <label for="Banco">Banco</label>
          </div>
       </div>
      </button> 
       <button class="bubbly-button"  ><span onclick="options(nuevogasto, btnGasto)" id="btnGasto">NUEVO GASTO</span> 
        <div style="display: none;" id="nuevogasto">
          <p>Nuevo Gasto: <input type="number" onclick="options(razon)" class="input nuevoGasto"></p>
          <p id="razon" style="display: none;">¿En qué gastaste? <input type="text" placeholder="Es opcional :)"  class="input razon" ></p>
            <input type="radio" id="MercadoPagoGasto" name="MercadoPagoGasto" onclick="check(MercadoPagoGasto)" value="1">
            <label for="MercadoPagoGasto">Es de MercadoPago el gasto?</label><br>
          <button class="boton bubbly-button calculo" onclick="segundoClick()">Calcular</button> 
        </div>
    </div>
  <div class="bubbly-button balanceDiv d-flex justify-content-around" >
    <p >Balance diario: <span class="balance">{{objetivo.balance}}</span></p> <p> Balance Mensual: <span class="balanceMensual">{{objetivo.balanceMensual}}</span> </p>
  </div>
  <div class="ingresos mt-2 mb-2">
      {{#each objetivo.ingresos.docs}}
      <div class="box span mb-1 d-flex justify-content-between flex-row ">
        <div class="box">
            <p class="mb-0 txt-default">{{this.date}}</p>
        </div>
        <div class="box">
            <p class="mb-0 txt-default">{{this.razon}}</p>
        </div>
        <div class="box ps-2 pb-1 pt-1 d-flex justify-content-end align-items-center">
          <div class="box text-center">
            <p class="mb-0"><span aria-label="Pesos">$</span> {{this.pesos}}</p>
          </div>
        </div>
      </div>
      {{/each}}
  </div>
  </div>
  </button>
</div>
<script src="/js/balance.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>